@{
  Layout = "_Layout";
}

<h1>Registrar Main Page</h1>
<p>@Html.ActionLink("Courses", "Index", "Courses")</p> 
<p>@Html.ActionLink("Students", "Index", "Students")</p>
<p>@Html.ActionLink("Departments", "Index", "Departments")</p>