@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Department

<h2>Are you sure you want to terminate this Department? Give it a second chance?</h2>

@Html.DisplayNameFor(model => model.DepartmentName): @Html.DisplayFor(model => model.DepartmentName)
@using (Html.BeginForm())
{
  <button class = "btn-btn-danger" type="submit">Terminate Department</button>
}
@Html.ActionLink("Back to List", "Index")